<a href="https://colab.research.google.com/github/hugosaraujo/AdministrativoByteBank/blob/master/desafio_aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva a frase escola de dados
2. Imprima seu nome e sobrenome seguindo a seguinte estrutura

Nome: [seu nome]
Sobrenome: [seu sobrenome]

In [1]:
print('Escola de Dados')

Escola de Dados

In [11]:
nome = 'Hugo'
sobrenome = 'de Araujo'
print('Nome:', nome, '\n' + 'Sobrenome:', sobrenome)

Nome: Hugo
Sobrenome: de Araujo

str

1. Imprima o seu primeiro nome letra a letra. Cada letra deve ocupar uma linha inteira na saída.

In [10]:
print('H\nU\nG\nO ')

H
U
G
O

1. Imprima o dia do seu nascimento em formato dia mês ano. Lembrando que os valores de dia e ano não podem estar entre aspas.

In [6]:
print(9, 'abril', 1994)

9 abril 1994

1. Imprima, em um único print, o atual ano que você está fazendo esse curso. O valor do ano deve ser um dado numérico.

In [9]:
print('Ano Atual:', 2024)

Ano Atual: 2024